body {
  margin: 0;
  overflow: hidden;
}

html { /* stars background */
  background: #001 no-repeat center center fixed;
  background-image: linear-gradient(to right, rgba(0,0,16, 0.85) 0 100%), url(./stars.jpg);
  background-size: cover;
}

.icon-16 {
  height: 16px;
  width: 16px;
}
.icon-32 {
  height: 32px;
  /* width: 32px; */
}

#graph {
  width: 66vw;
  height: 100vh;
}
.node-label {
  font-family: 'Droid Sans'; /* TODO improve? */
  position: relative;
  top: -1.5em;
  cursor: pointer;
}

.node-label.hover {
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.2);
}

#content {
  position: absolute;
  top: 0;
  right: 0;
  width: 35vw; /*NOTE makes no sense but looks right */
  height: 100vh;
  overflow: scroll;
  padding: 0;
  padding-left: 16px;
  font-family: Roboto;

  background-color: #eed;
}

#content .content-type { font-family: monospace; position: absolute; top: 0; right: 0; opacity: 0.25; }
#content .metadata { font-family: monospace; }
#content .metadata.empty { opacity: 0.25; }
#content .type, #content .tags { font-family: monospace; }
#content .one-liner { font-style: italic; }
#content .one-liner.empty { opacity: 0.25; }

#content h1 {
  margin: 0;
  background: #888;
  display: inline;
  padding: 0 8px;
  margin-top: 4px;
  border-radius: 5px;
  top: 10px;
}


#search-container {
  position: absolute;
  top: 4px;
  left: 35%;
  transform: translate(-50%);
  z-index: 10;
}
#search-bar input[type="text"] {
  width: 300px;
}
#search-container {
  display: flex;
  flex-direction: column;
}
#search-container .results {
  margin-top: 4px;
  font-family: Arial, sans-serif;
  color: white;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background: black;
  z-index: 10;
}
#search-container .results a {
  display: block;
  width: 100%;
  color: #eee;
  text-decoration: none;
}
#search-container .results a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}
#map {
  border-radius: 0 0 20px 0;
  opacity: 0.75;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  z-index: 1;
}
#map:hover {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

#info {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 5px;
}
#info a { color: #888; }